In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.special import comb

In [2]:
df_obs = pd.DataFrame({"A" : [13, 11, 20],"B" : [11, 9, 20],"計" : [24, 16, 40]})
df_obs.index = ["20代", "40代", "計"]
df_obs

      A   B   計
20代  13  11  24
40代  11   9  16
計    20  20  40

In [3]:
df_exp = pd.DataFrame({"A" : [12, 8, 20],"B" : [12, 8, 20],"計" : [24, 16, 40]})
df_exp.index = ["20代", "40代", "計"]
df_exp

      A   B   計
20代  12  12  24
40代   8   8  16
計    20  20  40

### この表が観測される確率を超幾何分布から求める…？？（１級p135）
### ただ、やっていることは素直な気がする（そのまま計算しているだけ）

In [4]:
comb(df_obs.iloc[2][0],df_obs.iloc[0][0]) * comb(df_obs.iloc[2][1],df_obs.iloc[1][0]) / comb(df_obs.iloc[2][2],df_obs.iloc[2][0])

0.0944547484180893